{% extends 'views/layout/base.html' %}

{% block content %}
<script src="/static/assets/calendar/js/jquery.min.js"></script>
<script src="/static/assets/calendar/js/popper.js"></script>
<script src="/static/assets/calendar/js/bootstrap.min.js"></script>
<script src="/static/assets/calendar/js/main.js"></script>

<div class="col-lg-8 grid-margin stretch-card mt-3" style="background-color: ;">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-dark">Historique de permanence</h4>

      <div class="row">
        <div class="col-md-12">
          <div class="elegant-calencar d-md-flex">
            <div class="wrap-header d-flex align-items-center img"
                 style="background-image: url('/static/assets/calendar/images/bg.jpg');">
              <p id="reset">Today</p>
              <div id="header" class="p-0">
                <div class="head-info">
                  <div class="head-month"></div>
                  <div class="head-day"></div>
                </div>
              </div>
            </div>
            <div class="calendar-wrap">
              <div class="w-100 button-wrap">
                <div class="pre-button d-flex align-items-center justify-content-center">
                  <i class="icon-arrow-left"></i>
                </div>
                <div class="next-button d-flex align-items-center justify-content-center">
                  <i class="icon-arrow-right"></i>
                </div>
              </div>
              <table id="calendar">
                <thead>
                  <tr>
                    <th>Sun</th><th>Mon</th><th>Tue</th>
                    <th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th>
                  </tr>
                </thead>
                <tbody>
                  {% for _ in range(6) %}
                    <tr>{% for _ in range(7) %}<td></td>{% endfor %}</tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Calendar -->
<link rel="stylesheet" href="/static/assets/calendar/css/style.css">
<link rel="stylesheet" href="/static/assets/css/fontawesome.min.css">

{% endblock %}

