<nav class="sidebar sidebar-offcanvas " id="sidebar">
  <ul class="nav">
      <li class="nav-item">
          <a class="nav-link" href="">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Tableau de bord</span>
          </a>
        </li>

      <li class="nav-item">
          <a class="nav-link" href="">
            <i class="icon-monitor menu-icon"></i>
            <span class="menu-title">Equipements</span>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic">
            <i class="icon-ribbon menu-icon"></i>
            <span class="menu-title">Inventaire</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-basic1">
            <ul class="nav flex-column sub-menu">

              <li class="nav-item"> <a class="nav-link" href="">Liste inventaire</a></li>
              <li class="nav-item"> <a class="nav-link" href="">Période</a></li>
            </ul>
          </div>
        </li>

      <li class="nav-item">
          <a class="nav-link" href="">
          <i class="icon-shuffle menu-icon"></i>
          <span class="menu-title">Transfert Équipements</span>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="">
          <i class="icon-delete menu-icon"></i>
          <span class="menu-title">Retrait d'équipement</span>
          </a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="">
      <i class="icon-paper menu-icon"></i>
      <span class="menu-title">Historique</span>
      </a>
  </li>
  <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="icon-circle-plus menu-icon"></i>
        <span class="menu-title">Autres</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">

          <li class="nav-item"> <a class="nav-link" href="">Eqpt Groupes</a></li>
          <li class="nav-item"> <a class="nav-link" href="">Utilisateurs</a></li>
          <li class="nav-item"> <a class="nav-link" href="">Fournisseurs</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>