<nav class="sidebar sidebar-offcanvas " id="sidebar">
  <ul class="nav">
      <li class="nav-item">
          <a class="nav-link" href="">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Tableau de bord</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="/grades">
          <i class="icon-layers menu-icon"></i>
          <span class="menu-title">Grades</span>
          </a>
      </li>

      <li class="nav-item">
          <a class="nav-link " href="/departements">
          <i class="icon-layers menu-icon"></i>
          <span class="menu-title">Département</span>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link " href="/postes">
          <i class="icon-briefcase menu-icon"></i>
          <span class="menu-title">Postes</span>
          </a>
      </li>
    <li class="nav-item">
      <a class="nav-link " href="/gradeparposte">
      <i class="icon-link menu-icon"></i>
      <span class="menu-title">Grade par Poste</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="icon-head menu-icon"></i>
        <span class="menu-title">Employes infos</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">

          <li class="nav-item"> <a class="nav-link" href="/employes">Employés</a></li>
          <li class="nav-item"> <a class="nav-link" href="/grade_employes">Grade employés</a></li>
        </ul>
      </div>
    </li>
    
    <li class="nav-item">
      <a class="nav-link " href="/affectations">
      <i class="icon-repeat menu-icon"></i>
      <span class="menu-title">Affectation</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/tours">
      <i class="icon-clock menu-icon"></i>
      <span class="menu-title">Tour de garde</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/remplacements">
      <i class="icon-shuffle menu-icon"></i>
      <span class="menu-title">Remplacements</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/permanences">
      <i class="icon-shuffle menu-icon"></i>
      <span class="menu-title">Permanences</span>
      </a>
    </li>
  </ul>
</nav>