.card-body h4{
    color:  #0771B8;
    font-size: 20px !important;
}

.card .card-title{
    color:  #0771B8;
}

table a{
    color: inherit; /* Utilise la couleur par défaut du texte */
    text-decoration: none; /* Supprime le soulignement par défaut */
}

table a:hover
{
    color: inherit; /* Utilise la couleur par défaut du texte */
    text-decoration: none; /* Supprime le soulignement par défaut */
}

/* Styles pour supprimer la bordure du bouton */
.btn-unstyled {
    border: none;
    padding: 0; /* Supprime le rembourrage par défaut */
    background-color: transparent; /* Supprime la couleur de fond par défaut */
}
.table-container {
    overflow-y: auto;
    max-height: 500px; /* ajustez la hauteur maximale selon vos besoins */
}

.mb-3 label{
    font-size: 13px;
    color: #777777 ;
}
.p-style{
    font-size: 15px;
    font-weight: bolder;
    color: #777777;
}

.page-body-wrapper {
    padding-left: 0 !important;
    margin-left: 0 !important;
  }
  
  .nav .nav-item .nav-link:hover {
    background-color: #57B657 !important;
    color: white !important;
  }

  .nav .nav-item .nav-link:hover .menu-icon {
    color: white !important;
  }

  .nav .nav-item .nav-link {
    transition: background-color 0.2s ease, color 0.2s ease;
  }
  /* Activer le vert si le <li> est actif */
.sidebar .nav .nav-item.active > .nav-link {
    background-color: #57B657 !important;
    color: white !important;
  }
  
  /* Et l’icône aussi */
  .sidebar .nav .nav-item.active > .nav-link .menu-icon {
    color: white !important;
  }