{% extends "views/layout/base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/assets/css/basic/style2.css">

<div class="home-wrap">
  <div class="main-container">
    <div class="image-container">
      <img src="/static/assets/images/accueil.png" alt="Illustration MFA">
    </div>
    <div class="text-container">
      <h1>Gestion de permanence</h1>
      <p>Il s'agit d'une application de gestion de permanence au sein du MFA (Ministère des Forces Armées) avec l'utilisation de l'IA</p>
      <a class="btn-connect" href="/login">Se connecter</a>
    </div>
  </div>
</div>
{% endblock %}
