{% extends "views/layout/base.html" %}

{% block content %}
<div class="col-md-4 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Créer un Département</h4>

      {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endif %}

      <form method="post" action="/departements/create">
        <div class="mb-3">
          <label for="dpt" class="form-label">Nom</label>
          <input type="text" class="form-control" id="dpt" name="dpt" required>
        </div>

        <div class="mb-3">
          <label for="abreviation" class="form-label">Abréviation</label>
          <input type="text" class="form-control" id="abreviation" name="abreviation" required>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>

        <div class="mb-3">
          <label for="mdp" class="form-label">Mot de passe</label>
          <input type="password" class="form-control" id="mdp" name="mdp" required>
        </div>

        <button type="submit" class="btn btn-primary form-control">Créer</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
