{% extends "views/layout/base.html" %}

{% block content %}
<div class="col-md-4 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Modifier Département</h4>

            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <form method="post" action="/departements/edit/{{ departement.id }}">
                <div class="mb-3">
                    <label for="dpt" class="form-label">Nom</label>
                    <input type="text" class="form-control" id="dpt" name="dpt" value="{{ departement.dpt }}" required>
                </div>

                <div class="mb-3">
                    <label for="abreviation" class="form-label">Abréviation</label>
                    <input type="text" class="form-control" id="abreviation" name="abreviation" value="{{ departement.abreviation }}" required>
                </div>

                <button type="submit" class="btn btn-success form-control">Modifier</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
