{% extends "views/layout/base.html" %}

{% block content %}

<div><a href="/departements/create" class="btn btn-success form-control">Nouveau</a></div>

<div class="col-lg-8 grid-margin stretch-card mt-3">
  <div class="card">
    <div class="card-body">
      <br>
      <h4 class="card-title text-dark">Liste des départements</h4>

      <li class="nav-item nav-search d-none d-lg-block" style="width: 500px">
        <div class="input-group">
          <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
            <span class="input-group-text" id="search">
              <i class="icon-search"></i>
            </span>
          </div>
          <input type="text" class="form-control" placeholder="Chercher un département" aria-label="search" aria-describedby="search" id="search-input">
        </div>
      </li>

      <br><br><br>

      <div class="table-responsive table-container">
        <table class="table table-striped" id="dept-table">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Abréviation</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for dept in departements %}
            <tr>
              <td>{{ dept.dpt }}</td>
              <td>{{ dept.abreviation }}</td>
              <td>
                <div class="d-flex gap-2">
                  <!-- Voir -->
                  <!-- <a href="/departements/{{ dept.id }}">
                    <span class="input-group-prepend hover-cursor">
                      <span class="input-group-text bg-warning">
                        <i class="icon-plus text-white"></i>
                      </span>
                    </span>
                  </a> -->

                  <!-- Modifier -->
                  <a href="/departements/edit/{{ dept.id }}" class=" mr-2">
                    <span class="input-group-prepend hover-cursor">
                      <span class="input-group-text bg-success">
                        <i class="icon-paper text-white"></i>
                      </span>
                    </span>
                  </a>

                  <!-- Supprimer -->
                  <a href="/departements/delete/{{ dept.id }}" class=" mr-2">
                    <span class="input-group-prepend hover-cursor">
                      <span class="input-group-text bg-danger">
                        <i class="icon-trash text-white"></i>
                      </span>
                    </span>
                  </a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
