{% extends "views/layout/base.html" %}

{% block content %}
<div><a href="/tours/create" class="btn btn-primary form-control">Nouveau</a></div>

<div class="col-lg-8 grid-margin stretch-card mt-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-dark">Liste des tours</h4>
      <div class="table-responsive table-container">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for tour in tours %}
            <tr>
              <td>{{ tour.nom }}</td>
              <td>
                <div class="d-flex gap-2">
                  <a href="/tours/edit/{{ tour.id }}" class="mr-2">
                    <span class="input-group-prepend hover-cursor">
                      <span class="input-group-text bg-primary">
                        <i class="icon-paper text-white"></i>
                      </span>
                    </span>
                  </a>
                  <a href="/tours/delete/{{ tour.id }}" onclick="return confirm('Supprimer ce tour ?');" class="mr-2">
                    <span class="input-group-prepend hover-cursor">
                      <span class="input-group-text bg-danger">
                        <i class="icon-trash text-white"></i>
                      </span>
                    </span>
                  </a>
                </div>
                
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
